@using Bakery.Models;
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Pierre's Bakery</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>@Model.Name</h1>
      @if (@Model.OrderList.Count == 0)
      {
        <p>This vendor currently has no orders.</p>
      }
      else
      {
        foreach(Order order in @Model.OrderList)
        {
          <h3>@order.Title</h3>
          <p><strong>Description: </strong>@order.Description</p>
          <p><strong>Price: </strong>@order.Price</p>
          <p><strong>Date: </strong>@order.Date</p>
        }
      }
      <p><a href="/vendors/@Model.ID/orders/new"><button class="btn btn-warning">Add An Order</button></a></p>
      <p><a href="/vendors"><button class="btn btn-warning">Back To Vendor List</button></a></p>
    </div>
  </body>
</html>